@import url('https://fonts.googleapis.com/css?family=VT323');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

html {
	margin: 1.5vh 1.5vw;
	min-height: 97vh;
	border: 5px solid #212121;
	padding: 10px;
	background-color: #edeff2;
	min-width: 500px;
	max-width: 1000px;
}

@media (min-width: 1000px) {
	html {
		margin: 1.5vh auto;
	}
}

/* header styling */

header {
	transition: 0.2s all smooth;
}

header h1 {
	font-family: 'VT323', monospace;
	font-weight: lighter;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #25272E;
	text-align: center;
	position: relative;
	margin: 0 auto;
	padding: 5px;
	width: 400px;
}

header h1 #sword1, header h1 #sword2, #diamond1, #diamond2 {
	position: absolute;
	transition: 0.3s all ease;
	height: 40px;
}

header h1 #sword1 {
	top: 0;
	left: 0;
}

header h1 #sword2 {
	top: 0;
	right: 0;
}

header h1 #diamond1 {
	top: 0;
	left: -55px;
}

header h1 #diamond2 {
	top: 0;
	right: -55px;
}

/* choices styling */

.choices {
	margin: 10px auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.choices img {
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 8px;
	width: 150px;
	height: 150px;
	transition: 0.2s all;
	background-color: #212121;
}

.choices img:hover, .choices img:focus {
	filter: hue-rotate(90deg);
	cursor: pointer;
	margin-top: 8px;
	margin-bottom: 0;
}

@media (max-width: 580px) {
	.choices {
		flex-direction: column;
	}
	.choices img {
		margin: 10px auto;
	}
	.choices img:hover, .choices img:focus {
		margin-top: 0;
		margin-bottom: 20px;
	}
}

/* message and results styling */

.message, .result {
	margin: 20px auto;
	width: 178px;
	background: #CCC;
	text-align: center;
	font-size: 15px;
	transition: 0.2s all ease;
}

.result {
	width: 250px;
}

/* scoreboard styling */

table {
	margin: 0 auto;
	border: 4px solid #212121;
	font-size: 20px;
	color: #212121;
}

table th[colspan='2'] {
	border-bottom: 3px solid #212121;
	text-transform: uppercase;
}

table th, table td {
	padding: 15px;
}

table tr:nth-of-type(2) th{
	padding-bottom: 0;
}

table td#user-score, table td#computer-score {
	text-align: center;
	font-size: 17px;
	font-weight: bolder;
}

/* button styling */
/* note: hovered button styling is in main.js*/
button {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	background: #edeff2;
	outline: none;
	color: black;
	font-family: 'VT323', monospace;
	font-size: 20px;
	letter-spacing: 0.2px;
	padding: 2px 2px;
	border: 11px solid black;
	background-clip: padding-box;
	border-image-source: url(https://res.cloudinary.com/ahmedagadir/image/upload/v1530727623/retro-rock-paper-scissors/border-img.png);
	border-image-slice: 9;
	border-image-repeat: round;
	transition: 0.2s all ease;
}

@media (max-width: 580px) {
	button {
		margin-top: 25px;
		margin-bottom: 20px;
	}
}